In [2]:
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

In [13]:
train_values = pd.read_csv('data/train_values.csv')
train_labels = pd.read_csv('data/train_labels.csv')
test_values = pd.read_csv('data/test_values.csv')

In [14]:
test_values.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0

<h1>Label encoding</h2>

In [76]:
def LabelEncoding_categorical(df):
    categorical_features = ['land_surface_condition', 'foundation_type', 'roof_type',
                            'ground_floor_type', 'other_floor_type', 'position',
                            'plan_configuration','legal_ownership_status']
    for features in categorical_features:
        le = LabelEncoder()
        df[features] = le.fit_transform(df[features].astype(str))
    return df

df = LabelEncoding_categorical(train_values)
df_test = LabelEncoding_categorical(test_values)

In [77]:
train_values = train_values[['building_id']]
train_values = pd.merge(train_values,df, on='building_id', how='inner') 
train_values.to_csv("data/train_values_enc.csv", index=False)

In [78]:
test_values = test_values[['building_id']]
test_values = pd.merge(test_values, df_test, on='building_id', how='inner') 
test_values.to_csv("data/test_label_enc.csv", index=False)

In [7]:
train_values.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,2,2,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,1,2,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,2,2,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,2,2,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,2,2,...,0,0,0,0,0,0,0,0,0,0

In [8]:
test_values.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,2,2,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,2,2,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,2,2,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,2,2,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,2,2,...,0,0,0,0,0,0,0,0,0,0

<h2>Target enconding </h2>

In [5]:
df = pd.concat([train_values,test_values])

In [64]:
df.columns

Index(['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')

In [74]:
test_values.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0

In [9]:
import category_encoders as ce
cat_features = ['land_surface_condition', 'foundation_type', 'roof_type',
                            'ground_floor_type', 'other_floor_type', 'position',
                            'plan_configuration','legal_ownership_status']
target_enc = ce.TargetEncoder(cols=cat_features)
target_enc.fit(train_values[cat_features], train_labels['building_id'])

train = train_values.join(target_enc.transform(train_values[cat_features]).add_suffix('_t'))
test = test_values.join(target_enc.transform(test_values[cat_features]).add_suffix('_t'))

/home/nico/.local/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [11]:
test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_use_police,has_secondary_use_other,land_surface_condition_t,foundation_type_t,roof_type_t,ground_floor_type_t,other_floor_type_t,position_t,plan_configuration_t,legal_ownership_status_t
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,525291.207011,526036.097182,525377.373596,525775.91985,525362.679536,526141.281172,525560.934091,525833.039627
1,99355,6,141,11987,2,25,13,5,t,r,...,0,0,525291.207011,526036.097182,525377.373596,525775.91985,525362.679536,526141.281172,525560.934091,525833.039627
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,525291.207011,526036.097182,525377.373596,525775.91985,525362.679536,526141.281172,525560.934091,525833.039627
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,525291.207011,526036.097182,527190.040166,525169.16525,525696.122380,523354.378054,525560.934091,525833.039627
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,525291.207011,526036.097182,526162.633542,525775.91985,525362.679536,523354.378054,525560.934091,525833.039627

In [16]:
train.to_csv("data/train_Target_enc.csv", index=False)
test.to_csv("data/test_Target_enc.csv", index=False)